In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('data/train.csv')
submit = pd.read_csv('data/sample_submission.csv')

In [7]:
test = pd.read_csv('data/test.csv')

In [8]:
print (len(train))
print (len(test))

10574516
1074563

In [10]:
train.head()

,sentence_id,token_id,class,before,after
0,0,0,PLAIN,По,По
1,0,1,PLAIN,состоянию,состоянию
2,0,2,PLAIN,на,на
3,0,3,DATE,1862 год,тысяча восемьсот шестьдесят второй год
4,0,4,PUNCT,.,.

In [68]:
train_errors = train.query('after != before')

In [69]:
print ("Percentage of total errors in train dataset: {0:.2f}%".format(len(train_errors) / len(train) * 100))

Percentage of total errors in train dataset: 12.51%

In [16]:
text_class = train["class"].unique()
text_class

array(['PLAIN', 'DATE', 'PUNCT', 'ORDINAL', 'VERBATIM', 'LETTERS',
       'CARDINAL', 'MEASURE', 'TELEPHONE', 'ELECTRONIC', 'DECIMAL',
       'DIGIT', 'FRACTION', 'MONEY', 'TIME'], dtype=object)

In [113]:
errors = {}

### Compare [PLAIN] class

In [61]:
train_plain = train[train['class'] == "PLAIN"]

In [63]:
train_plain.head()

   sentence_id  token_id  class      before       after
0            0         0  PLAIN          По          По
1            0         1  PLAIN   состоянию   состоянию
2            0         2  PLAIN          на          на
5            1         0  PLAIN  Оснащались  Оснащались
6            1         1  PLAIN     латными     латными

In [55]:
train_plain_errors = train_plain.query('after != before')

In [97]:
train_plain_errors.head()

,sentence_id,token_id,class,before,after
43,3,7,PLAIN,Tiberius,т_trans и_trans б_trans е_trans р_trans и_tran...
44,3,8,PLAIN,Julius,д_trans ж_trans у_trans л_trans и_trans у_tran...
45,3,9,PLAIN,Pollienus,п_trans о_trans л_trans л_trans и_trans е_tran...
46,3,10,PLAIN,Auspex,о_trans с_trans п_trans е_trans к_trans с_trans
153,10,4,PLAIN,Half,х_trans а_trans л_trans ф_trans

In [114]:
train_plain_error_1 = len(train_plain_errors) / len(train_plain)
train_plain_error_2 = len(train_plain_errors) / len(train_errors)
errors["PLAIN"] = (train_plain_error_1, train_plain_error_2)

In [115]:
print ("Percentage of errors in PLAIN class: {0:.2f}%".format(train_plain_error_1 * 100))
print ("Percentage of errors in train dataset: {0:.2f}%".format(train_plain_error_2 * 100))

Percentage of errors in PLAIN class: 7.39%
Percentage of errors in train dataset: 41.14%

### Compare [DATE] class

In [72]:
train_date = train[train['class'] == "DATE"]

In [73]:
train_date.head()

,sentence_id,token_id,class,before,after
3,0,3,DATE,1862 год,тысяча восемьсот шестьдесят второй год
17,2,2,DATE,1811 года,тысяча восемьсот одиннадцатого года
85,6,1,DATE,12 февраля 2013,двенадцатого февраля две тысячи тринадцатого года
90,6,6,DATE,15 февраля 2013,пятнадцатого февраля две тысячи тринадцатого года
189,13,1,DATE,1905 года,тысяча девятьсот пятого года

In [74]:
train_date_errors = train_date.query('after != before')

In [116]:
train_date_error_1 = len(train_date_errors) / len(train_date)
train_date_error_2 = len(train_date_errors) / len(train_errors)
errors["DATE"] = (train_date_error_1, train_date_error_2)

In [117]:
print ("Percentage of errors in DATE class: {0:.2f}%".format(train_date_error_1 * 100))
print ("Percentage of errors in train dataset: {0:.2f}%".format(train_date_error_2 * 100))

Percentage of errors in DATE class: 99.95%
Percentage of errors in train dataset: 14.05%

### Compare [PUNCT] class

In [76]:
train_punct = train[train['class'] == "PUNCT"]

In [77]:
train_punct.head()

    sentence_id  token_id  class before after
4             0         4  PUNCT      .     .
14            1         9  PUNCT      .     .
18            2         3  PUNCT      ,     ,
24            2         9  PUNCT      (     (
27            2        12  PUNCT      )     )

In [79]:
train_punct_errors = train_punct.query('after != before')

In [118]:
train_punct_error_1 = len(train_punct_errors) / len(train_punct)
train_punct_error_2 = len(train_punct_errors) / len(train_errors)
errors["PUNCT"] = (train_punct_error_1, train_punct_error_2)

In [119]:
print ("Percentage of errors in PUNCT class: {0:.2f}%".format(train_punct_error_1 * 100))
print ("Percentage of errors in train dataset: {0:.2f}%".format(train_punct_error_2 * 100))

Percentage of errors in PUNCT class: 0.00%
Percentage of errors in train dataset: 0.00%

### Compare [ORDINAL] class

In [81]:
train_ordinal = train[train['class'] == "ORDINAL"]

In [82]:
train_ordinal.head()

     sentence_id  token_id    class before                              after
53             3        17  ORDINAL    III                           третьего
163           11         1  ORDINAL   1895   тысяча восемьсот девяносто пятом
164           11         2  ORDINAL  —1896  тысяча восемьсот девяносто шестом
485           35         5  ORDINAL   1796   тысяча семьсот девяносто шестого
487           35         7  ORDINAL   1802            тысяча восемьсот второй

In [83]:
train_ordinal_errors = train_ordinal.query('after != before')

In [120]:
train_ordinal_error_1 = len(train_ordinal_errors) / len(train_ordinal)
train_ordinal_error_2 = len(train_ordinal_errors) / len(train_errors)
errors["ORDINAL"] = (train_ordinal_error_1, train_ordinal_error_2)

In [121]:
print ("Percentage of errors in ORDINAL class: {0:.2f}%".format(train_ordinal_error_1 * 100))
print ("Percentage of errors in train dataset: {0:.2f}%".format(train_ordinal_error_2 * 100))

Percentage of errors in ORDINAL class: 99.57%
Percentage of errors in train dataset: 3.52%

### Compare [VERBATIM] class

In [86]:
train_verbatim = train[train['class'] == "VERBATIM"]

In [87]:
train_verbatim.head()

     sentence_id  token_id     class before after
60             4         4  VERBATIM      -     -
109            7        10  VERBATIM      兄     兄
110            7        11  VERBATIM      貴     貴
125            8         9  VERBATIM      -     -
212           16         7  VERBATIM      -     -

In [89]:
train_verbatim_errors = train_verbatim.query('after != before')

In [99]:
train_verbatim_errors.tail()

          sentence_id  token_id     class before   after
10567593       760932         7  VERBATIM      &       и
10568216       760981        11  VERBATIM      ~  тильда
10571155       761184        12  VERBATIM      ~  тильда
10572493       761286        20  VERBATIM      $  доллар
10572494       761286        21  VERBATIM      $  доллар

In [122]:
train_verbatim_error_1 = len(train_verbatim_errors) / len(train_verbatim)
train_verbatim_error_2 = len(train_verbatim_errors) / len(train_errors)
errors["VERBATIM"] = (train_verbatim_error_1, train_verbatim_error_2)

In [123]:
print ("Percentage of errors in VERBATIM class: {0:.2f}%".format(train_verbatim_error_1 * 100))
print ("Percentage of errors in train dataset: {0:.2f}%".format(train_verbatim_error_2 * 100))

Percentage of errors in VERBATIM class: 8.20%
Percentage of errors in train dataset: 0.98%

### Compare [LETTERS] class

In [92]:
train_letters = train[train['class'] == "LETTERS"]

In [93]:
train_letters.head()

     sentence_id  token_id    class before      after
92             6         8  LETTERS     TV        t v
186           12         9  LETTERS  РСФСР  р с ф с р
301           24         1  LETTERS    СПб      с п б
340           26         1  LETTERS    СПб      с п б
346           26         7  LETTERS  В. А.        в а

In [94]:
train_letters_errors = train_letters.query('after != before')

In [124]:
train_letters_error_1 = len(train_letters_errors) / len(train_letters)
train_letters_error_2 = len(train_letters_errors) / len(train_errors)
errors["LETTERS"] = (train_letters_error_1, train_letters_error_2)

In [140]:
print ("Percentage of errors in LETTERS class: {0:.2f}%".format(train_letters_error_1 * 100))
print ("Percentage of errors in train dataset: {0:.2f}%".format(train_letters_error_2 * 100))

Percentage of errors in LETTERS class: 99.98%
Percentage of errors in train dataset: 14.33%

In [100]:
text_class

array(['PLAIN', 'DATE', 'PUNCT', 'ORDINAL', 'VERBATIM', 'LETTERS',
       'CARDINAL', 'MEASURE', 'TELEPHONE', 'ELECTRONIC', 'DECIMAL',
       'DIGIT', 'FRACTION', 'MONEY', 'TIME'], dtype=object)

### Compare [CARDINAL] class

In [101]:
train_cardinal = train[train['class'] == "CARDINAL"]

In [102]:
train_cardinal.head()

     sentence_id  token_id     class before                    after
137            9         9  CARDINAL    254  двести пятьдесят четыре
272           21         7  CARDINAL   2014  две тысячи четырнадцать
275           21        10  CARDINAL     12               двенадцать
304           24         4  CARDINAL   2014  две тысячи четырнадцать
343           26         4  CARDINAL   2011   две тысячи одиннадцать

In [103]:
train_cardinal_errors = train_cardinal.query('after != before')

In [126]:
train_cardinal_error_1 = len(train_cardinal_errors) / len(train_cardinal)
train_cardinal_error_2 = len(train_cardinal_errors) / len(train_errors)
errors["CARDINAL"] = (train_cardinal_error_1, train_cardinal_error_2)

In [141]:
print ("Percentage of errors in CARDINAL class: {0:.2f}%".format(train_cardinal_error_1 * 100))
print ("Percentage of errors in train dataset: {0:.2f}%".format(train_cardinal_error_2 * 100))

Percentage of errors in CARDINAL class: 99.81%
Percentage of errors in train dataset: 20.56%

### Compare [MEASURE] class

In [105]:
train_measure = train[train['class'] == "MEASURE"]

In [106]:
train_measure.head()

     sentence_id  token_id    class     before                         after
365           27        12  MEASURE       61st         шестьдесят один стоун
412           30        13  MEASURE  31 минуту         тридцати одной минуту
474           34        12  MEASURE     500 км            пятисот километров
605           44         6  MEASURE     80 см.       восемьдесят сантиметров
793           55        18  MEASURE     480 с.  четыреста восемьдесят секунд

In [107]:
train_measure_errors = train_measure.query('after != before')

In [128]:
train_measure_error_1 = len(train_measure_errors) / len(train_measure)
train_measure_error_2 = len(train_measure_errors) / len(train_errors)
errors["MEASURE"] = (train_measure_error_1, train_measure_error_2)

In [142]:
print ("Percentage of errors in MEASURE class: {0:.2f}%".format(train_measure_error_1 * 100))
print ("Percentage of errors in train dataset: {0:.2f}%".format(train_measure_error_2 * 100))

Percentage of errors in MEASURE class: 98.49%
Percentage of errors in train dataset: 3.02%

### Compare [TELEPHONE] class

In [109]:
train_telephone = train[train['class'] == "TELEPHONE"]

In [111]:
train_telephone.head()

,sentence_id,token_id,class,before,after
576,41,2,TELEPHONE,978-5-86007-700-3,девятьсот семьдесят восемь sil пять sil восемь...
4100,302,15,TELEPHONE,973-96857-7-3,девятьсот семьдесят три sil девятьсот шестьдес...
5530,418,1,TELEPHONE,0-87778-245-8,ноль sil восемьсот семьдесят семь семьдесят во...
5663,426,9,TELEPHONE,0-446-69334-0,ноль sil четыреста сорок шесть sil шестьсот де...
5887,443,10,TELEPHONE,5-9 221-0 440-3,пять sil девять sil двести двадцать один sil н...

In [110]:
train_telephone_errors = train_telephone.query('after != before')

In [130]:
train_telephone_error_1 = len(train_telephone_errors) / len(train_telephone)
train_telephone_error_2 = len(train_telephone_errors) / len(train_errors)
errors["TELEPHONE"] = (train_telephone_error_1, train_telephone_error_2)

In [143]:
print ("Percentage of errors in TELEPHONE class: {0:.2f}%".format(train_telephone_error_1 * 100))
print ("Percentage of errors in train dataset: {0:.2f}%".format(train_telephone_error_2 * 100))

Percentage of errors in TELEPHONE class: 100.00%
Percentage of errors in train dataset: 0.76%

### Compare [ELECTRONIC] class

In [132]:
train_electronic = train[train['class'] == "ELECTRONIC"]

In [133]:
train_electronic.head()

,sentence_id,token_id,class,before,after
1257,89,7,ELECTRONIC,ElvisPresleyBiography.com,э_trans л_trans в_trans и_trans с_trans п_tran...
3157,224,23,ELECTRONIC,About.com,э_trans б_trans а_trans у_trans т_trans точка ...
3883,284,0,ELECTRONIC,Billboard.com,б_trans и_trans л_trans б_trans о_trans р_tran...
5808,437,0,ELECTRONIC,THG.ru,t h g точка р_trans у_trans
9400,695,1,ELECTRONIC,2014-09-01.Charts.org.nz,две тысячи четырнадцать дефис ноль девять дефи...

In [138]:
train_electronic_errors = train_electronic.query('after != before')

In [139]:
train_electronic_error_1 = len(train_electronic_errors) / len(train_electronic)
train_electronic_error_2 = len(train_electronic_errors) / len(train_errors)
errors["ELECTRONIC"] = (train_electronic_error_1, train_electronic_error_2)

In [145]:
print ("Percentage of errors in ELECTRONIC class: {0:.2f}%".format(train_electronic_error_1 * 100))
print ("Percentage of errors in train dataset: {0:.2f}%".format(train_electronic_error_2 * 100))

Percentage of errors in ELECTRONIC class: 97.34%
Percentage of errors in train dataset: 0.43%

In [146]:
text_class

array(['PLAIN', 'DATE', 'PUNCT', 'ORDINAL', 'VERBATIM', 'LETTERS',
       'CARDINAL', 'MEASURE', 'TELEPHONE', 'ELECTRONIC', 'DECIMAL',
       'DIGIT', 'FRACTION', 'MONEY', 'TIME'], dtype=object)

### Compare [DECIMAL] class

In [147]:
train_decimal = train[train['class'] == "DECIMAL"]

In [148]:
train_decimal.head()

,sentence_id,token_id,class,before,after
1292,91,10,DECIMAL,60 тысяч,шестьдесят тысяч
7237,542,7,DECIMAL,1 млн,одного миллиона
7685,575,16,DECIMAL,"1,2",одна целая и две десятых
7687,575,18,DECIMAL,"3,5",три целых и пять десятых
8712,640,16,DECIMAL,"7203,54",семь тысяч двести три целых и пятьдесят четыре...

In [149]:
train_decimal_errors = train_decimal.query('after != before')

In [150]:
train_decimal_error_1 = len(train_decimal_errors) / len(train_decimal)
train_decimal_error_2 = len(train_decimal_errors) / len(train_errors)
errors["DECIMAL"] = (train_decimal_error_1, train_decimal_error_2)

In [151]:
print ("Percentage of errors in DECIMAL class: {0:.2f}%".format(train_decimal_error_1 * 100))
print ("Percentage of errors in train dataset: {0:.2f}%".format(train_decimal_error_2 * 100))

Percentage of errors in DECIMAL class: 98.57%
Percentage of errors in train dataset: 0.54%

### Compare [DIGIT] class

In [152]:
train_digit = train[train['class'] == "DIGIT"]

In [153]:
train_digit.head()

       sentence_id  token_id  class before                after
2524           178         4  DIGIT     06           ноль шесть
9254           683         7  DIGIT    007       ноль ноль семь
22460         1667         4  DIGIT     00            ноль ноль
23209         1722         8  DIGIT   0171  ноль один семь один
36632         2680        22  DIGIT     09          ноль девять

In [165]:
print ("All values in the [DIGIT] class starts with \"0\" symbol")
print (len(train_digit_errors))
print (train_digit_errors['before'].apply(lambda x: 1 if x.startswith("0") else 0).sum())

All values in the [DIGIT] class starts with "0" symbol
2012
2012

In [154]:
train_digit_errors = train_digit.query('after != before')

In [155]:
train_digit_error_1 = len(train_digit_errors) / len(train_digit)
train_digit_error_2 = len(train_digit_errors) / len(train_errors)
errors["DIGIT"] = (train_digit_error_1, train_digit_error_2)

In [156]:
print ("Percentage of errors in DIGIT class: {0:.2f}%".format(train_digit_error_1 * 100))
print ("Percentage of errors in train dataset: {0:.2f}%".format(train_digit_error_2 * 100))

Percentage of errors in DIGIT class: 100.00%
Percentage of errors in train dataset: 0.15%

### Compare [FRACTION] class

In [166]:
train_fraction = train[train['class'] == "FRACTION"]

In [167]:
train_fraction.head()

,sentence_id,token_id,class,before,after
3578,259,17,FRACTION,1883/1884,тысяча восемьсот восемьдесят три тысяча восемь...
15218,1121,7,FRACTION,653/26,шестьсот пятьдесят три двадцать шестых
23441,1735,11,FRACTION,3/16,трех шестнадцатых
24061,1781,5,FRACTION,2/3,две третьих
28159,2075,17,FRACTION,2014/15,две тысячи четырнадцать пятнадцатых

In [168]:
train_fraction_errors = train_fraction.query('after != before')

In [169]:
train_fraction_error_1 = len(train_fraction_errors) / len(train_fraction)
train_fraction_error_2 = len(train_fraction_errors) / len(train_errors)
errors["FRACTION"] = (train_fraction_error_1, train_fraction_error_2)

In [170]:
print ("Percentage of errors in FRACTION class: {0:.2f}%".format(train_fraction_error_1 * 100))
print ("Percentage of errors in train dataset: {0:.2f}%".format(train_fraction_error_2 * 100))

Percentage of errors in FRACTION class: 98.98%
Percentage of errors in train dataset: 0.18%

### Compare [MONEY] class

In [171]:
train_money = train[train['class'] == "MONEY"]

In [172]:
train_money.head()

,sentence_id,token_id,class,before,after
12028,883,5,MONEY,194 млн долл.,ста девяноста четырех миллионов долларов
18226,1345,10,MONEY,2 миллионов долларов,двух миллионов долларов
20298,1504,9,MONEY,10 000 рублей,десять тысяч рублей
22832,1696,9,MONEY,200 миллионов рублей,двести миллионов рублей
24820,1835,4,MONEY,250 рублей,двести пятьдесят рублей

In [173]:
train_money_errors = train_money.query('after != before')

In [174]:
train_money_error_1 = len(train_money_errors) / len(train_money)
train_money_error_2 = len(train_money_errors) / len(train_errors)
errors["MONEY"] = (train_money_error_1, train_money_error_2)

In [176]:
print ("Percentage of errors in MONEY class: {0:.2f}%".format(train_money_error_1 * 100))
print ("Percentage of errors in train dataset: {0:.2f}%".format(train_money_error_2 * 100))

Percentage of errors in MONEY class: 97.51%
Percentage of errors in train dataset: 0.20%

### Compare [TIME] class

In [177]:
train_time = train[train['class'] == "TIME"]

In [178]:
train_time.head()

       sentence_id  token_id class    before                         after
14366         1059         1  TIME  11:19:52                      11:19:52
14615         1076         1  TIME  11:20:41                      11:20:41
36235         2652         2  TIME     06:06       шесть часов шесть минут
45775         3347         2  TIME  15:03:28                      15:03:28
57147         4195        10  TIME     02:33  два часа тридцать три минуты

In [179]:
train_time_errors = train_time.query('after != before')

In [180]:
train_time_error_1 = len(train_time_errors) / len(train_time)
train_time_error_2 = len(train_time_errors) / len(train_errors)
errors["TIME"] = (train_time_error_1, train_time_error_2)

In [181]:
print ("Percentage of errors in TIME class: {0:.2f}%".format(train_time_error_1 * 100))
print ("Percentage of errors in train dataset: {0:.2f}%".format(train_time_error_2 * 100))

Percentage of errors in TIME class: 97.43%
Percentage of errors in train dataset: 0.14%

## Summary

In [209]:
print ("Errors for classes\n")
print ("Class \t\t\t in-class \t along dataset\n")
for k, v in errors.items():
    print ("{:13s} \t\t {:.2f}% {:5s} \t {:.2f}%".format(k, v[0] * 100, " ", v[1] * 100))

Errors for classes

Class 			 in-class 	 along dataset

PLAIN         		 7.39%       	 41.14%
TIME          		 97.43%       	 0.14%
CARDINAL      		 99.81%       	 20.56%
ORDINAL       		 99.57%       	 3.52%
LETTERS       		 99.98%       	 14.33%
VERBATIM      		 8.20%       	 0.98%
DECIMAL       		 98.57%       	 0.54%
MONEY         		 97.51%       	 0.20%
PUNCT         		 0.00%       	 0.00%
MEASURE       		 98.49%       	 3.02%
TELEPHONE     		 100.00%       	 0.76%
DIGIT         		 100.00%       	 0.15%
FRACTION      		 98.98%       	 0.18%
ELECTRONIC    		 97.34%       	 0.43%
DATE          		 99.95%       	 14.05%